$background-color: #FFF7E8;

$text-color: #000000;
$header-color: #F66C42;

$font-family: 'Times New Roman', Times, serif;

$font-size: 20px;
$font-size-mobile: 16px;
$header-font-size: 32px;
$cat-name-font-size: 28px;

$font-weight: 400;
$header-font-weight: 600;
$cat-name-font-weight: 600;

$primary-button-bg-color: #F6AB42;
$primary-button-bg-color-hover: #f5972a;
$primary-button-text-color: #000000;

$button-bg-color: #FFFFFF;
$button-bg-color-hover: #efefef;
$button-text-color: #000000;

$transparent-button-bg-color: transparent;
$transparent-button-bg-color-hover: #fce9c9;
$transparent-button-text-color: #000000;

$button-border-radius: 50px;
$button-padding: 10px 20px;